@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    --primary-color: #273746;
    --secondary-color: #34c26f;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

/* Header */

header{
    background-color: var(--primary-color);
    color: white;
    font-size: 130%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
}


.line{
    color: #2ECC71;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    transform: translateY(-50%);
    border-right: 2px solid black;
    text-align: center;
    display: block;
}


.selectBtn{
    font-family: "Lato", sans-serif;;
    font-size: 40px;
    font-weight: 400;
    display: block;
    margin: 10px auto 50px;
}



button{
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: rgba(255, 255, 255,0.5);
    cursor: pointer;
    padding: 5px 12px;
}

.buttonHover{
    color: white;
}

button:focus{
    outline: none;
}


/* Container */
.container{
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    background-color: #ADEFD1FF;
}

.img-profile{
    display: block;
    text-align: center;
}

#my-photo{
    padding:3px;
    margin: 80px;
    height: 275px;
    width: o auto;
    border: 5px dashed var(--primary-color);
    border-radius: 50%;
}

.container-text{
    text-align: center;
    word-wrap: break-word;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.container-text p{
    display: block;
    text-align: center;
    font-size: 30px;
    word-wrap: break-word;
}


.container-projects{
    background-color: white;
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
}

.selectedProjects{
    font-weight: 200px;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: black;
    margin: 0 auto;
    display: block;
    text-align: center;
}



/* Animation */

.anim-typewriter{
    animation: typewriter 2s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{

    from{
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }
    to {
        border-right-color:transparent;
    }
}