@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    --primary-color: #273746;
    --secondary-color: #34c26f;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Lato", sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

/* Container */
.container{
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Header */

header{
    background-color: var(--primary-color);
    color: white;
    font-size: 130%;
    flex-direction: column;
    display: flex;
}


.line{
    color: #2ECC71;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    transform: translateY(-50%);
    border-right: 2px solid black;
}

a{
    text-decoration: none;
}

header .anchorLinks{
    font-family: "Lato", sans-serif;;
    font-size: 40px;
    font-weight: 400;
    display: block;
    margin: 10px auto 50px;
    color: rgba(255,255,255,0.5);
}


.buttonHover{
    color: white;
}

button:focus{
    outline: none;
}

.about{
    background-color: #ADEFD1FF;
    margin: 0 auto;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#my-photo{
    padding:3px;
    margin: 40px;
    height: 40%;
    width: 0 auto;
    border: 5px dashed var(--primary-color);
    border-radius: 50%;
    overflow: auto;
}

.container-text{
    text-align: start;
    word-wrap: break-word;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.container-text p{
    display: block;
    text-align: center;
    font-size: 22px;
    word-wrap: break-word;
}

.projects{
    background-color: #00203FFF;
    height: auto;
    min-height: 100vh !important;
    overflow: auto;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title-selected-projects{
    margin-top: 20px;
    height: 70px;
}

/* selected projects */
.grid {
    display: flex;
    flex-direction: row;
    height: 100;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
    /* grid-template-columns: repeat(5, minmax(15rem, 1fr)); */
    align-items: start;
  }
  
  .grid-item {
    background-color: #F2F3F4;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    width: 220px;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    border-bottom: 3px solid black;
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-header {
    font-size: 2rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 0.65rem;
    /* letter-spacing: 0.1rem; */
    line-height: 1;
    color: #3d3d3d;
    text-align: start;
    margin-bottom: 1rem;
  }
  
  .card-btn {
    display: block;
    width: 100%;
    padding: 0.7rem;
    font-size: 0.8rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
  }
  
  .card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
    background-color: #c2cffc;
  }
  
  .card-btn:hover span,
  .card-btn:active span {
    margin-left: 1.5rem;
  }

  
/* Contact me */

.contact-links{
    font-size: 45px;
    color:rgba(255,255,255,0.5);
    margin-bottom: 0px;
}

.contact{
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15vh !important;
    background-color: rgb(0, 54, 63);
}

h1, h2{
    color: whitesmoke;
}

/* Animation */

.anim-typewriter{
    animation: typewriter 2s steps(40) 1s 0.3 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{

    from{
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }
    to {
        border-right-color:transparent;
    }
}

@media only screen and (max-width: 768px){

    .about{
        height: 45vh;
    }

    #my-photo{
        margin: 15px;
        height: 50%;
        width: 0 auto;
    }

    .container-text{
        width: 300px;
    }

    .container-text p{
        width: auto;
        font-size: 14px;
    }

    .container-images img{
        width: auto;
    }

    .projects h1{
        font-size: 24px;
        padding-top: 30px;
    }

    .grid {
        flex-wrap: nowrap;
        flex-direction: column;
      }

      .grid-item{
        margin-left: auto;
        margin-right: auto;
        width: 180px;
      }

      .grid-item:last-child {
        margin-bottom: 10px;
      }

      .card-img {
        border-bottom: 1px solid black;
        height: 9rem;
      }
          
      .card-text {
        font-size: 0.5rem;
      }
      
      .card-btn {
        padding: 0.3rem;
        font-size: 0.6rem;
      }
    
    .contact-links{
        font-size: 36px;
    }

    #contact-me{
        font-size: large;
    }

    .contact{
        height: 14vh !important;
    }
}