@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    --primary-color: #273746;
    --secondary-color: #34c26f;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Lato", sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

/* Container */
.container{
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Header */

header{
    background-color: var(--primary-color);
    color: white;
    font-size: 130%;
    flex-direction: column;
    display: flex;
}


.line{
    color: #2ECC71;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    transform: translateY(-50%);
    border-right: 2px solid black;
}

a{
    text-decoration: none;
}

header .anchorLinks{
    font-family: "Lato", sans-serif;;
    font-size: 40px;
    font-weight: 400;
    display: block;
    margin: 10px auto 50px;
    color: rgba(255,255,255,0.5);
}


.buttonHover{
    color: white;
}

button:focus{
    outline: none;
}

.about{
    background-color: #ADEFD1FF;
}



#my-photo{
    padding:3px;
    margin: 80px;
    height: 27%;
    width: 0 auto;
    border: 5px dashed var(--primary-color);
    border-radius: 50%;
    overflow: auto;
}

.container-text{
    text-align: start;
    word-wrap: break-word;
    width: 500px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.container-text p{
    width: 0 auto;
    display: block;
    text-align: center;
    font-size: 30px;
    word-wrap: break-word;
}


.projects{
    background-color: #00203FFF;
    min-height: 100vh;
    overflow: auto;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    display: block;
    text-align: center;
}



h1{
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.project-img{
    height: 350px;
    border-top: none;
    padding-top: 0;
    width: auto;
}

.container-images{
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

.caption{
    color: whitesmoke;
    font-size: 22px;
    caption-side: top;
    display: table-caption;
    margin-bottom: 10px;
}

figure{
   border-top: none;
    display: table;
    margin-left: 80px;
}

.description p{
    text-align: left;
    font-size: 18px;
    color: white;
    width: 350px;
}

#project-1{
    float: left;
}

#project-2{
    float: left;
    align-self: stretch;
}

#project-3{
    float: left;
}

/* Contact me */

#contact-me{
    font-size: 40px;
}

.contact-links{

    font-size: 60px;
    color:rgba(255,255,255,0.5);
    margin-left: 20px;
}

.contact-me{
    margin-bottom: 50px;
}


/* Animation */

.anim-typewriter{
    animation: typewriter 2s steps(40) 1s 0.3 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{

    from{
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }
    to {
        border-right-color:transparent;
    }
}



@media only screen and (max-width: 768px){

    #my-photo{
        height: 25% important!;
        width: auto;
        border: 2px dashed var(--primary-color);
        border-radius: 50%;
        vertical-align: top;
    }
    .container-text p{
        width: auto;
        display: block;
        text-align: center;
        word-wrap: break-word;
        font-size: 14px;
    }

    .container-images img{
        height: 100px;
        width: auto;
    }
    .projects h1{
        font-size: 27px;
        color: whitesmoke;
        text-align: center;
        padding-top: 50px;
        position: relative;
    }

    .projects  p{
        font-size: 14px;
        color: whitesmoke;
        display: block;
        text-align: left;
        width: fit-content;
        margin-top: 15px;
    }

    .projects .caption{
        font-size: 20px;
        color: rgb(187, 187, 187);
    }

    .container-images{
        margin-top: 50px;
        display: block;
        margin-left: none;
        justify-content: center;
        text-align: center;
    }
    
    .contact-links{
        font-size: 40px;
    }

    figure{
        margin-bottom: 50px;
    }

 

figure{
    border-top: none;
     display: table;
     margin-left: 0px;
 }

 .contact-me{
    margin-bottom: 10px;
}
   
}